@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

main {
  background-image: url("../../public/your-image.jpg") !important;
  width: 100vw;
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.hero-image img {
  filter: brightness(45%);
}

.brand {
  font-family: "Lobster", cursive;
  font-weight: 300;
  font-size: xx-large;
}

.HomePage {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;
}

.HomePage h1 {
  position: relative;
  color: white;
  font-family: "Lobster", cursive;
  font-size: 50px;
  font-weight: 300;
  pointer-events: none;
  user-select: none;
}

.HomePage h4 {
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.about p {
  width: 40vw;
  margin-right: 50px;
}

.statsring {
  width: 40vw;
}

.crimson {
  color: crimson;
}

@media screen and (max-width: 480px) {
  .social {
    background-color: brown !important;
  }
}