@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

main {
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("https://i.ibb.co/PmQjD9z/your-image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.hero-image {  
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand {
  font-family: "Lobster", cursive;
  font-weight: 300;
  font-size: xx-large;
}

.HomePage {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;
}

.HomePage h1 {
  position: relative;
  color: white;
  font-family: "Lobster", cursive;
  font-size: 50px;
  font-weight: 300;
  pointer-events: none;
  user-select: none;
}

.HomePage h4 {
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.about p {
  width: 40vw;
  margin-right: 50px;
}

.statsring {
  width: 40vw;
}

.crimson {
  color: crimson;
}

.mantine-Container-root {
  display: flex;
}

.active {
  background-color: crimson;
}